# Database Labratory Project

- Negin mashayekhi
- Farbod fooladi

In [1]:
# from twilio.rest import Client
# import smtplib
# from email.mime.text import MIMEText
# from email.mime.multipart import MIMEMultipart
import random
import pandas as pd
from flask import Flask
import datetime
from flask import request, jsonify
import uuid
import requests
from bs4 import BeautifulSoup
from datetime import datetime

## Phase 1 (Email API)

- Email/SMS API
- Crawling a webpage(handelled later)

### 1-1.Sending SMS/Email

In [ ]:
def send_sms(message):
    try:
        # Your Account SID and Auth Token from twilio.com/console
        account_sid = 'account_sid'
        auth_token = 'auth_token'
        client = Client(account_sid, auth_token)

        # Use the Twilio API to send an SMS message
        message = client.messages.create(
            body=message,
            from_='+98121212121', # Replace with your Twilio phone number
            to='+98121212121' # Replace with the recipient's phone number
        )
        return 1
    except NameError:
        #return 0
        return random.random()%2

def send_email(message):
    try:
        # Set up connection to the SMTP server
        smtp_server = 'smtp.gmail.com'  # replace with your SMTP server address
        smtp_port = 25  # replace with your SMTP server port
        username = 'n.mashayekhi456@gmail.com'  # replace with your email address
        password = '1234'  # replace with your email password

        server = smtplib.SMTP(smtp_server, smtp_port)
        server.starttls()
        server.login(username, password)

        # Construct the email message
        from_addr = 'n.mashayekhi456@gmail.com'  # replace with your email address
        to_addr = 'n.mashayekhi456@gmail.com'  # replace with recipient email address
        subject = message
        body = new_price

        msg = MIMEMultipart()
        msg['From'] = from_addr
        msg['To'] = to_addr
        msg['Subject'] = subject

        msg.attach(MIMEText(body, 'plain'))

        # Send the email
        text = msg.as_string()
        server.sendmail(from_addr, to_addr, text)

        # Close the connection to the SMTP server
        server.quit()
        return 1
    except NameError:
        #return 0
        return random.random()%2

## Phase 2 (Login)

- Save session for further use
- Extract elements inside user panel

### 2-1.Save Sessions in DB

In [ ]:
# POSTLOGINURL = 'www.toplearn.com/login'
# #REQUESTURL = 'www.example.com/page_to_scrape'

# payload = {'username': 'aacc9818@gmail.com', 'password': '456654321'}
# with request.Session() as session:
#     post = session.post(POSTLOGINURL, data=payload)
#     print(session)

In [1]:
import mysql
import mysql.connector
# run this every time
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="pdne",
)
mycursor = mydb.cursor()

# Create Database
#mycursor.execute("DROP DATABASE TopLearn_Project")

# Switch to the newly created database
mycursor.execute("USE TopLearn_Project")

Creating Databases.Dont run this cell again.

In [ ]:
# Create a database named "TopLearn_Project"
mycursor.execute("CREATE DATABASE TopLearn_Project")
# Switch to the newly created database
mycursor.execute("USE TopLearn_Project")
# Create Table Session for save login cookies
mycursor.execute("CREATE TABLE Sessions (id INT AUTO_INCREMENT PRIMARY KEY, URL_uid VARCHAR(255), username VARCHAR(127), cookie VARCHAR(1024), site_name VARCHAR(127))")
# Create Table Discounts for toplearn website
mycursor.execute("CREATE TABLE Discounts (id INT AUTO_INCREMENT PRIMARY KEY, course_name VARCHAR(1024), login_status INT)")
# Create Table Logs for discounts changes
mycursor.execute("CREATE TABLE Logs (id INT AUTO_INCREMENT PRIMARY KEY, new_value VARCHAR(1024), sms INT, email INT, discount_id INT,time TIME, FOREIGN KEY (discount_id) REFERENCES Discounts(id))" )

MySQl Helpping functions

In [3]:
def show_databases():
    mycursor.execute("SHOW DATABASES")
    for db in mycursor:
        print(db)

def show_tables():
    mycursor.execute("SHOW TABLES")
    for table in mycursor:
        print(table)

def show_rows(table):
    mycursor.execute(f'select * from {table}')
    records = mycursor.fetchall()
    for record in records:
        print(record)

In [4]:
show_tables()

('Discounts',)
('Logs',)
('Registrations',)
('Sessions',)

Getting session_id from toplearn

In [ ]:
toplearn_url = 'http://www.toplearn.com/Login'
url = 'https://toplearn.com/Account/DashBoard?uid=c8ef2015-a667-4a68-a8d7-3d07ef51ec96'
response = requests.get(url)

#session_id = response.cookies.get('.AspNetCore.Session')
#print(response.headers)
#print(response.cookies.AspNetCore.Mvc.CookieTempDataProvider)
#response.cookies.Session
session_id = response.headers['Set-Cookie']

Save Session_id in Database

In [ ]:
mycursor.execute("INSERT INTO Sessions (URL_uid, username, cookie, site_name ) VALUES (%s,%s,%s,%s)", [url,'Neginma',str(session_id),'Toplearn'])
mydb.commit()
query = 'SELECT * FROM Sessions'
df = pd.read_sql(query, mydb)
df

In [ ]:
# this is the last cell for using database- dont run it now!
# cursor.close()
# connection.close()

### 2-2.Crawl toplearn

In [ ]:
url_topl = 'https://toplearn.com/TodayDiscounts'
response = requests.get(url_topl)
soup = BeautifulSoup(response.text, 'html.parser')

Save Initial values in Discounts

In [ ]:
# this cell get the initial value of target element
list_h2 = soup.find_all('h2')[:10]
for h2 in list_h2:
    mycursor.execute("INSERT INTO Discounts (course_name, login_status) VALUES (%s,%s)", [(h2.find('a').text),1])
query = 'SELECT * FROM Discounts'
df = pd.read_sql(query, mydb)
df

Checking for any changes in Discounts Table and save log in Logs Table and send SMS/Email

In [ ]:
#while True:
updated_list = soup.find_all('h2')[:10]
for i in range(1,10):
    mycursor.execute(f"SELECT course_name FROM Discounts WHERE id = {i}")
    old_value = mycursor.fetchone()[0]
    new_value = str(updated_list[i].text)
    if new_value!= old_value:
        sms = send_sms(new_value)
        email = send_email(new_value)
        discount_id = i
        current_time = datetime.now().time().strftime('%H:%M:%S')
        mycursor.execute("INSERT INTO Logs (discount_id, new_value, sms, email, time) VALUES (%s,%s,%s,%s,%s)", [discount_id, new_value, sms, email,current_time])
        mydb.commit()

In [ ]:
query = 'SELECT * FROM Logs'
df = pd.read_sql(query, mydb)
df

## Phase 3 (kaptcha solver)

- Database Tables of pahse 3
- solve captcha using Selenium

### 3-1.Captcha Database

In [20]:
# Create Table Discounts for toplearn website
mycursor.execute("CREATE TABLE Captchas (id INT AUTO_INCREMENT PRIMARY KEY, captcha_type VARCHAR(255), function_name VARCHAR(255))")
# Create Table Logs for discounts changes
mycursor.execute("CREATE TABLE WebPages (id INT AUTO_INCREMENT PRIMARY KEY, page_name VARCHAR(255),URL VARCHAR(1023),captcha_xpath VARCHAR(255) ,login_status INT ,captcha_id INT, FOREIGN KEY (captcha_id) REFERENCES Captchas(id))" )

In [19]:
#mycursor.execute("DROP Table WebPages")
#mycursor.execute("DROP Table Captchas")

In [32]:
show_tables()

('Captchas',)
('Discounts',)
('Logs',)
('Registrations',)
('Sessions',)
('WebPages',)

Adding some row into captchas database

In [22]:
mycursor.execute("INSERT INTO Captchas (captcha_type, function_name ) VALUES (%s,%s)", ['literal','literal_solver'])

mycursor.execute("INSERT INTO Captchas (captcha_type, function_name ) VALUES (%s,%s)", ['image-selection','image_selection_solver'])
mydb.commit()
query = 'SELECT * FROM Captchas'
df = pd.read_sql(query, mydb)
df

   id     captcha_type           function_name
0   1          literal          literal_solver
1   2  image-selection  image_selection_solver

Adding some row into webpage database

In [23]:
mycursor.execute("INSERT INTO WebPages (page_name, URL, captcha_xpath, login_status, captcha_id) VALUES (%s,%s,%s,%s,%s)", ['7learn','https://7learn.com/auth?register','//*[@id="rc-imageselect"]',1,2])

mycursor.execute("INSERT INTO WebPages (page_name, URL, captcha_xpath, login_status, captcha_id) VALUES (%s,%s,%s,%s,%s)", ['toplearn','https://toplearn.com/Register','//*[@id="captcha-image"]',0,1])

mycursor.execute("INSERT INTO WebPages (page_name, URL, captcha_xpath, login_status, captcha_id) VALUES (%s,%s,%s,%s,%s)", ['Golestan-esfehan','https://golestan.ui.ac.ir/forms/authenticateuser/main.htm','//*[@id="imgCaptcha"]',0,1])
mydb.commit()
query = 'SELECT * FROM WebPages'
df = pd.read_sql(query, mydb)
df

,id,page_name,URL,captcha_xpath,login_status,captcha_id
0,1,7learn,https://7learn.com/auth?register,"//*[@id=""rc-imageselect""]",1,2
1,2,toplearn,https://toplearn.com/Register,"//*[@id=""captcha-image""]",0,1
2,3,Golestan-esfehan,https://golestan.ui.ac.ir/forms/authenticateus...,"//*[@id=""imgCaptcha""]",0,1

### 3-2.Solving captcha of Toplearn

In [52]:
import time

def solve_captcha(captcha_function):
    if captcha_function == "literal_solver":
        time.sleep(5)
    else:
        time.sleep(10)


from selenium import webdriver
from selenium.webdriver.firefox.service import Service
from selenium.webdriver import Firefox

path_to_geckodriver = '/Users/ngn/geckodriver'
service = Service(path_to_geckodriver)
driver = Firefox(service=service)

# navigate to a webpage
mycursor.execute(f"SELECT * FROM WebPages WHERE id = {2}")
webpage = mycursor.fetchone()
driver.get(webpage[2])

# find captcha by xpath
driver.find_element_by_xpath(webpage[3]).click()

# solve captcha by knowing type and fetching script from DB
query = f'''
SELECT function_name
FROM WebPages
JOIN Captchas
ON WebPages.captcha_id = Captchas.id
WHERE WebPages.id = {2}
'''

# Execute the query and fetch the results
mycursor.execute(query)
captcha_function = mycursor.fetchone()[0]
solve_captcha(captcha_function)

driver.quit()

/var/folders/bf/9616ns414yg2qn2p8czl2sr00000gn/T/ipykernel_21301/1816839210.py:24: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath(webpage[3]).click()

In [33]:
query = 'SELECT * FROM WebPages'
df = pd.read_sql(query, mydb)
df

,id,page_name,URL,captcha_xpath,login_status,captcha_id
0,1,7learn,https://7learn.com/auth?register,"//*[@id=""rc-imageselect""]",1,2
1,2,toplearn,https://toplearn.com/Register,"//*[@id=""captcha-image""]",0,1
2,3,Golestan-esfehan,https://golestan.ui.ac.ir/forms/authenticateus...,"//*[@id=""imgCaptcha""]",0,1

## Phase 4 (Registration)

- Gather list of name & family & ... into Database 
- Register with temp mail in sites have email verification

### 4-1. Gather Data and store in DB

In [57]:
mycursor.execute("DROP TABLE Registrations")

In [58]:
# Create Table Registrations for toplearn website
mycursor.execute("CREATE TABLE Registrations (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), family VARCHAR(255), email VARCHAR(255), password VARCHAR(255))")

# create a list of tuples containing the data to insert
data = [
  ('سارا', 'گودرزی'),
  ('احمد', 'علیفر'),
  ('سعید', 'آقاخانی'),
  ('ali', 'alavi'),
  ('naghi', 'naghavi'),
  ('taghi', 'taghavi')
]
# define the SQL query to insert data into the table
sql = "INSERT INTO Registrations (name, family) VALUES (%s, %s)"
mycursor.executemany(sql, data)
mydb.commit()
query = 'SELECT * FROM Registrations'
pd.read_sql(query, mydb)

   id   name   family email password
0   1   سارا   گودرزی  None     None
1   2   احمد    علیفر  None     None
2   3   سعید  آقاخانی  None     None
3   4    ali    alavi  None     None
4   5  naghi  naghavi  None     None
5   6  taghi  taghavi  None     None

### 4-2. Register in site

#### 4-2-1. Toplearn 
- email
- password
- confirm-password

In [112]:
from selenium import webdriver
from selenium.webdriver.firefox.service import Service
from selenium.webdriver import Firefox
import time
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
import pyperclip

path_to_geckodriver = '/Users/ngn/geckodriver'
service = Service(path_to_geckodriver)
driver = Firefox(service=service)

# navigate to temp mail webpage
driver.get('https://tempail.com/en/')
time.sleep(10)

driver.find_element_by_xpath('/html/body/section[1]/div[2]/div/div[4]/a[1]').click()

# switch to the new tab for toplearn webpage
driver.execute_script("window.open('');")
driver.switch_to.window(driver.window_handles[-1])
driver.get("https://toplearn.com/Register")


# Put information for registration

# Get clipboard data
text = pyperclip.paste()

# find the input element to paste the text into
input_element = driver.find_element_by_xpath('//*[@id="Email"]')

# click on the input element to focus it
input_element.click()

# use ActionChains to simulate a keyboard shortcut for pasting
ActionChains(driver).key_down(Keys.COMMAND).send_keys('v').key_up(Keys.COMMAND).perform()

# enter the pasted text into the input element
# input_element.send_keys(text)

# Enter password
driver.find_element_by_xpath('//*[@id="Password"]').send_keys('skdjbjds54')
driver.find_element_by_xpath('//*[@id="ConfirmPassword"]').send_keys('skdjbjds54')

# waiting for solve captcha
time.sleep(15)

# submit
# driver.find_element_by_xpath('/html/body/div[2]/div/div/div/form/div[2]/div[8]/button').click()

# checkbox = WebDriverWait(driver, 5).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="AcceptRules"]')))
# checkbox = driver.find_element_by_xpath('//*[@id="AcceptRules"]')
# After this you should check the checkbox and click on the button at the bottom


# submit
driver.find_element_by_xpath('/html/body/div[2]/div/div/div/form/div[2]/div[8]/button').click()
time.sleep(3)

# ok button
driver.find_element_by_xpath('/html/body/div[3]/div/div[3]/button[1]').click()
time.sleep(2)

# Login
# enter email
input_element = driver.find_element_by_xpath('//*[@id="EmailOrMobilePhone"]')
input_element.click()
ActionChains(driver).key_down(Keys.COMMAND).send_keys('v').key_up(Keys.COMMAND).perform()

# open email tab
driver.switch_to.window(driver.window_handles[0])

# click on Inbox
#driver.find_element_by_xpath('/html/body/section[2]/div/div/div/ul/li[2]/a/div[3]').click()
driver.find_element_by_css_selector("ul.mailler li:nth-child(2)")
time.sleep(5)

# click on remove ads
driver.find_element_by_css_selector("ul.mailler li:nth-child(2)").click()
# click on verification link
# solve captcha and submit

/var/folders/bf/9616ns414yg2qn2p8czl2sr00000gn/T/ipykernel_21301/835673666.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath('/html/body/section[1]/div[2]/div/div[4]/a[1]').click()
/var/folders/bf/9616ns414yg2qn2p8czl2sr00000gn/T/ipykernel_21301/835673666.py:39: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  input_element = driver.find_element_by_xpath('//*[@id="Email"]')
/var/folders/bf/9616ns414yg2qn2p8czl2sr00000gn/T/ipykernel_21301/835673666.py:51: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath('//*[@id="Password"]').send_keys('skdjbjds54')
/var/folders/bf/9616ns414yg2qn2p8czl2sr00000gn/T/ipykernel_21301/835673666.py:52: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath('//*[@id="ConfirmPassword"]').send_keys('skdjbjds54')
/var/folders/bf/9616ns414yg2qn2p8czl2sr00000gn/T/ipykernel_21301/835673666.py:66: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath('/html/body/div[2]/div/div/div/form/div[2]/div[8]/button').click()
/var/folders/bf/9616ns414yg2qn2p8czl2sr00000gn/T/ipykernel_21301/835673666.py:70: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath('/html/body/div[3]/div/div[3]/button[1]').click()
/var/folders/bf/9616ns414yg2qn2p8czl2sr00000gn/T/ipykernel_21301/835673666.py:75: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  input_element = driver.find_element_by_xpath('//*[@id="EmailOrMobilePhone"]')
/var/folders/bf/9616ns414yg2qn2p8czl2sr00000gn/T/ipykernel_21301/835673666.py:84: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_css_selector("ul.mailler li:nth-child(2)")

In [116]:
driver.quit()

#### 4-2-2.Github
- email
- password
- username
- y/n question
- captcha

In [ ]:
path_to_geckodriver = '/Users/ngn/geckodriver'
service = Service(path_to_geckodriver)
driver = Firefox(service=service)

# navigate to temp mail webpage
driver.get('https://tempail.com/en/')
time.sleep(10)

driver.find_element_by_xpath('/html/body/section[1]/div[2]/div/div[4]/a[1]').click()

# switch to the new tab for toplearn webpage
driver.execute_script("window.open('');")
driver.switch_to.window(driver.window_handles[-1])
driver.get("https://github.com/signup?ref_cta=Sign+up&ref_loc=header+logged+out&ref_page=%2F&source=header-home")


# Put information for registration
# email
input_element = driver.find_element_by_xpath('//*[@id="email"]')
input_element.click()
ActionChains(driver).key_down(Keys.COMMAND).send_keys('v').key_up(Keys.COMMAND).perform()
driver.find_element_by_xpath('//*[@id="email-container"]/div[2]/button').click()

# password
driver.find_element_by_xpath('//*[@id="password"]').send_keys('JSBjasb6253@')
driver.find_element_by_xpath('//*[@id="password-container"]/div[2]/button').click()

# username
mycursor.execute(f"SELECT name,family FROM Registrations WHERE id = {5}")
user = mycursor.fetchone()
driver.find_element_by_xpath('//*[@id="login"]').send_keys(str(user[0]+'_'+user[1]))
driver.find_element_by_xpath('//*[@id="username-container"]/div[2]/button').click()

# y/n question
driver.find_element_by_xpath('//*[@id="opt_in"]').send_keys('n')
driver.find_element_by_xpath('//*[@id="opt-in-container"]/div[2]/button').click()

# solve captcha
# submit

driver.quit()

## Phase 5 (Fill form)

- calendar    
- text    
- drop down   
- checkbox    
- click button (for example any follow button in instagram followers list)

In [39]:
# path_to_geckodriver = '/Users/ngn/geckodriver'
# service = Service(path_to_geckodriver)
# driver = Firefox(service=service)

# # navigate to temp mail webpage
# driver.get('https://calendar.google.com/calendar/')
# driver.find_element_by_xpath('/html/body/header/div[1]/div[3]/dropdown-cta/div').click()
# driver.find_element_by_xpath('/html/body/header/div[1]/div[3]/dropdown-cta/a[1]').click()
# driver.find_element_by_xpath('/html/body/div[1]/div[1]/div[2]/div[1]/div[2]/div/div/div[2]/div/div[1]/div/form/span/section/div/div/div[3]/div[3]/div/div[1]/div/div/div[1]/div').click()

/var/folders/bf/9616ns414yg2qn2p8czl2sr00000gn/T/ipykernel_14354/2702899285.py:7: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath('/html/body/header/div[1]/div[3]/dropdown-cta/div').click()
/var/folders/bf/9616ns414yg2qn2p8czl2sr00000gn/T/ipykernel_14354/2702899285.py:8: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath('/html/body/header/div[1]/div[3]/dropdown-cta/a[1]').click()
/var/folders/bf/9616ns414yg2qn2p8czl2sr00000gn/T/ipykernel_14354/2702899285.py:9: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath('/html/body/div[1]/div[1]/div[2]/div[1]/div[2]/div/div/div[2]/div/div[1]/div/form/span/section/div/div/div[3]/div[3]/div/div[1]/div/div/div[1]/div').click()

NoSuchElementException: Message: Unable to locate element: /html/body/div[1]/div[1]/div[2]/div[1]/div[2]/div/div/div[2]/div/div[1]/div/form/span/section/div/div/div[3]/div[3]/div/div[1]/div/div/div[1]/div
Stacktrace:
RemoteError@chrome://remote/content/shared/RemoteError.sys.mjs:8:8
WebDriverError@chrome://remote/content/shared/webdriver/Errors.sys.mjs:180:5
NoSuchElementError@chrome://remote/content/shared/webdriver/Errors.sys.mjs:392:5
element.find/</<@chrome://remote/content/marionette/element.sys.mjs:134:16

Creat Tables
- TypeAddress
- Webs
- Elements

In [10]:
mycursor.execute("CREATE TABLE TypeAddress (id INT AUTO_INCREMENT PRIMARY KEY, type VARCHAR(255))" )

mycursor.execute("CREATE TABLE Webs (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), url VARCHAR(1024))" )

query = '''
CREATE TABLE Elements (id INT AUTO_INCREMENT PRIMARY KEY,
element VARCHAR(1024),
web_id INT,
type_id INT,
value VARCHAR(1023),
FOREIGN KEY (web_id) REFERENCES Webs(id),
FOREIGN KEY (type_id) REFERENCES TypeAddress(id))
'''
mycursor.execute(query)

Table TypeAddress

In [15]:
import pandas as pd
mycursor.execute("INSERT INTO TypeAddress (type) VALUES (%s)", ['Xpath'])
mycursor.execute("INSERT INTO TypeAddress (type) VALUES (%s)", ['CSS-selector'])
mycursor.execute("INSERT INTO TypeAddress (type) VALUES (%s)", ['CSS-path'])
mydb.commit()
query = 'SELECT * FROM TypeAddress'
df = pd.read_sql(query, mydb)
df

   id          type
0   1         Xpath
1   2  CSS-selector
2   3      CSS-path

In [9]:
# mycursor.execute('DROP TABLE Elements')
# mycursor.execute('DROP TABLE Webs')
# mycursor.execute('DROP TABLE TypeAddress')

Table Webs

In [14]:

mycursor.execute("INSERT INTO Webs (name,url) VALUES (%s,%s)", ['Toplearn','https://toplearn.com/Register'])
mycursor.execute("INSERT INTO Webs (name,url) VALUES (%s,%s)", ['Github','https://github.com/signup?ref_cta=Sign+up&ref_loc=header+logged+out&ref_page=%2F&source=header-home'])
mycursor.execute("INSERT INTO Webs (name,url) VALUES (%s,%s)", ['Tempmail','https://tempail.com/en/'])
mycursor.execute("INSERT INTO Webs (name,url) VALUES (%s,%s)", ['GoogleCalender','https://calendar.google.com/calendar/'])
mydb.commit()
query = 'SELECT * FROM Webs'
df = pd.read_sql(query, mydb)
df

   id            name                                                url
0   1        Toplearn                      https://toplearn.com/Register
1   2          Github  https://github.com/signup?ref_cta=Sign+up&ref_...
2   3        Tempmail                            https://tempail.com/en/
3   4  GoogleCalender              https://calendar.google.com/calendar/

Table Elements

In [20]:
mycursor.execute("INSERT INTO Elements (web_id,element,type_id,value) VALUES (%s,%s,%s,%s)", [1,'input',1,'//*[@id="Email"]'])
mycursor.execute("INSERT INTO Elements (web_id,element,type_id,value) VALUES (%s,%s,%s,%s)", [1,'button',1,'/html/body/div[2]/div/div/div/form/div[2]/div[8]/button'])
mycursor.execute("INSERT INTO Elements (web_id,element,type_id,value) VALUES (%s,%s,%s,%s)", [3,'button',2,'ul.mailler li:nth-child(2)'])
mycursor.execute("INSERT INTO Elements (web_id,element,type_id,value) VALUES (%s,%s,%s,%s)", [4,'dropdown',1,'/html/body/div[1]/div[1]/div[2]/div[1]/div[2]/div/div/div[2]/div/div[1]/div/form/span/section/div/div/div[3]/div[3]/div/div[1]/div/div/div[1]/div'])
mycursor.execute("INSERT INTO Elements (web_id,element,type_id,value) VALUES (%s,%s,%s,%s)", [1,'checkbox',3,'html.js.flexbox.flexboxlegacy.canvas.canvastext.webgl.no-touch.geolocation.postmessage.no-websqldatabase.indexeddb.hashchange.history.draganddrop.websockets.rgba.hsla.multiplebgs.backgroundsize.borderimage.borderradius.boxshadow.textshadow.opacity.cssanimations.csscolumns.cssgradients.no-cssreflections.csstransforms.csstransforms3d.csstransitions.fontface.generatedcontent.video.audio.localstorage.sessionstorage.webworkers.applicationcache.svg.inlinesvg.smil.svgclippaths body div.client-page.register-bg-style div.container div.client-form div.inner form div.row div.col-md-12.pull-right div.checkbox-remember input#AcceptRules'])

mydb.commit()
query = 'SELECT * FROM Elements'
df = pd.read_sql(query, mydb)
df

,id,element,web_id,type_id,value
0,1,input,1,1,"//*[@id=""Email""]"
1,2,button,1,1,/html/body/div[2]/div/div/div/form/div[2]/div[...
2,3,button,3,2,ul.mailler li:nth-child(2)
3,4,dropdown,4,1,/html/body/div[1]/div[1]/div[2]/div[1]/div[2]/...
4,5,checkbox,1,3,html.js.flexbox.flexboxlegacy.canvas.canvastex...

## Phase 6 (Thread)

In [1]:
import mysql
import mysql.connector
# run this every time
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="pdne",
)
mycursor = mydb.cursor()

* creating tables for storing session datas.

In [6]:
# Create a database named "Session_Data"
mycursor.execute("DROP DATABASE Session_Data")
mycursor.execute("CREATE DATABASE Session_Data")
# Switch to the newly created database
mycursor.execute("USE Session_Data")

# Create Table Script6
mycursor.execute("CREATE TABLE Script6 (id INT AUTO_INCREMENT PRIMARY KEY, script_name VARCHAR(255))")

# Create Table Web6
mycursor.execute("CREATE TABLE Web6 (id INT AUTO_INCREMENT PRIMARY KEY, URL VARCHAR(1024), name VARCHAR(255), script_id INT, FOREIGN KEY (script_id) REFERENCES Script6(id))")

# Create Table URL_Session6
#mycursor.execute("CREATE TABLE URL_Session6 (id INT AUTO_INCREMENT PRIMARY KEY, web_id VARCHAR(1024), session_id VARCHAR(1024))")

# Create Table Browsers6
mycursor.execute("CREATE TABLE Browsers6 (id INT AUTO_INCREMENT PRIMARY KEY, b_name VARCHAR(255), b_version VARCHAR(255))")

# Create Table OS6
mycursor.execute("CREATE TABLE OS6 (id INT AUTO_INCREMENT PRIMARY KEY, o_name VARCHAR(255), o_version VARCHAR(255))")

# Create Table Resolution6
mycursor.execute("CREATE TABLE Resolution6 (id INT AUTO_INCREMENT PRIMARY KEY, width INT, height INT)")

# Create Table Session6
#mycursor.execute("CREATE TABLE Session6 (id INT AUTO_INCREMENT PRIMARY KEY, b_name VARCHAR(1024), b_version VARCHAR(1024), O_name VARCHAR(1024), O_version VARCHAR(1024),width INT, height INT, FOREIGN KEY (id) REFERENCES URL_Session6(session_id))")

# HERE

#### Fill the URL_Session6 table

In [ ]:
# create a list of tuples containing the data to insert
data = [
  ('webId 1', 'session_id 1'),
  ('webId 2', 'session_id 5'),
  ('webId 5', 'session_id 7')
]

# define the SQL query to insert data into the table
sql = "INSERT INTO URL_Session6 (web_id, session_id) VALUES (%s, %s)"
mycursor.executemany(sql, data)
mydb.commit()

query = 'SELECT * FROM URL_Session6'
pd.read_sql(query, mydb)

#### Fill the Web6 table

In [ ]:
# create a list of tuples containing the data to insert
data = [
  ('https://toplearn.com', 'toplearn' , '1'),
  ('https://github.com', 'github', '1'),
  ('https://golestan.ir', 'golestan', '2')
]

# define the SQL query to insert data into the table
sql = "INSERT INTO Web6 (URL, name, script_id) VALUES (%s, %s, %s)"
mycursor.executemany(sql, data)
mydb.commit()

query = 'SELECT * FROM Web6'
pd.read_sql(query, mydb)

#### Fill the Script6 table

In [7]:
# create a list of tuples containing the data to insert
data = [
  ('script 1'),
  ('script 2'),
  ('script 5')
]

# define the SQL query to insert data into the table
sql = "INSERT INTO Script6 (script_name) VALUES (%s)"
mycursor.executemany(sql, data)
mydb.commit()

query = 'SELECT * FROM Script6'
pd.read_sql(query, mydb)

ProgrammingError: Not all parameters were used in the SQL statement

#### Fill the Browsers6 table

In [ ]:
# create a list of tuples containing the data to insert
data = [
  ('FireFox', '102.0'),
  ('FireFox', '103.0.2'),
  ('Chrome', '7.0.517')
]

# define the SQL query to insert data into the table
sql = "INSERT INTO Browsers6 (b_name, b_version) VALUES (%s, %s)"
mycursor.executemany(sql, data)
mydb.commit()

query = 'SELECT * FROM Browsers6'
pd.read_sql(query, mydb)

#### Fill the OS6 table

In [ ]:
# create a list of tuples containing the data to insert
data = [
  ('windows', '11'),
  ('windows', '10'),
  ('ubuntu', '4.10')
]

# define the SQL query to insert data into the table
sql = "INSERT INTO OS6 (o_name, o_version) VALUES (%s, %s)"
mycursor.executemany(sql, data)
mydb.commit()

query = 'SELECT * FROM OS6'
pd.read_sql(query, mydb)

#### Fill the Resolution6 table

In [ ]:
# create a list of tuples containing the data to insert
data = [
  ('1920', '1080'),
  ('1680', '1050'),
  ('1440', '900')
]

# define the SQL query to insert data into the table
sql = "INSERT INTO Resolution6 (width, height) VALUES (%s, %s)"
mycursor.executemany(sql, data)
mydb.commit()

query = 'SELECT * FROM Resolution6'
pd.read_sql(query, mydb)

#### Make different permutation data and store them in Session6 table

In [ ]:
sql = "INSERT INTO Session6 (b_name, b_version, o_name, o_version, width, height) SELECT Browsers6.id, Browsers6.b_name, Browsers6.b_version, OS6.id, OS6.o_name, OS6.o_version, Resolution6.id, Resolution6.width, Resolution6.height FROM Browsers6 CROSS JOIN OS6 CROSS JOIN Resolution6"

mycursor.execute(sql)
mydb.commit()

query = 'SELECT * FROM Session6'
pd.read_sql(query, mydb)